In [1]:
import pandas as pd

In [3]:
# data = pd.read_csv("F:\Kaggle\IEEE_CIS\Data\\train_transaction.csv") 
# data.to_pickle("F:\Kaggle\IEEE_CIS\Data\\train_transaction.pkl")
# data = pd.read_csv("F:\Kaggle\IEEE_CIS\Data\\train_identity.csv") 
# data.to_pickle("F:\Kaggle\IEEE_CIS\Data\\train_identity.pkl")

In [2]:
# trans = pd.read_pickle("F:\Kaggle\IEEE_CIS\Data\\train_transaction.pkl")
# ident = pd.read_pickle("F:\Kaggle\IEEE_CIS\Data\\train_identity.pkl")

In [23]:
trans = pd.read_csv("F:\Kaggle\IEEE_CIS\Data\\train_transaction.csv", nrows=500) 
ident = pd.read_csv("F:\Kaggle\IEEE_CIS\Data\\train_identity.csv", nrows=500) 
trans.set_index('TransactionID', inplace=True)
ident.set_index('TransactionID', inplace=True)

In [ ]:
y = trans['isFraud'].tolist()

In [ ]:
pd.get_dummies(pd.Series(list('abcaa')), drop_first=True)

In [40]:
A = X['ProductCD']

In [43]:
A.unique()

array(['W', 'H', 'C', 'S', 'R'], dtype=object)

In [42]:
pd.get_dummies(A, drop_first=True)

               H  R  S  W
TransactionID
2987000        0  0  0  1
2987001        0  0  0  1
2987002        0  0  0  1
2987003        0  0  0  1
2987004        1  0  0  0
2987005        0  0  0  1
2987006        0  0  0  1
2987007        0  0  0  1
2987008        1  0  0  0
2987009        0  0  0  1
2987010        0  0  0  0
2987011        0  0  0  0
2987012        0  0  0  1
2987013        0  0  0  1
2987014        0  0  0  1
2987015        0  0  0  1
2987016        1  0  0  0
2987017        1  0  0  0
2987018        0  0  0  1
2987019        0  0  0  1
2987020        0  0  0  1
2987021        0  0  0  1
2987022        1  0  0  0
2987023        0  0  0  1
2987024        0  0  0  1
2987025        0  0  0  1
2987026        0  0  0  1
2987027        0  0  0  1
2987028        0  0  0  1
2987029        0  0  0  1
...           .. .. .. ..
2987470        0  0  0  1
2987471        0  0  0  1
2987472        0  0  0  1
2987473        0  0  0  1
2987474        0  0  0  1
2987475        0  0  0  1
2987476        0  0  0  0
2987477        0  0  0  1
2987478        0  0  0  1
2987479        0  0  0  1
2987480        0  0  0  1
2987481        0  0  0  1
2987482        1  0  0  0
2987483        0  0  0  1
2987484        0  0  0  1
2987485        1  0  0  0
2987486        0  0  0  1
2987487        0  0  0  1
2987488        0  0  0  0
2987489        0  0  0  0
2987490        1  0  0  0
2987491        0  0  0  1
2987492        0  0  0  1
2987493        0  0  0  1
2987494        0  0  0  1
2987495        0  0  0  1
2987496        0  0  0  1
2987497        0  0  0  1
2987498        0  0  0  1
2987499        0  0  0  0

[500 rows x 4 columns]

In [31]:
X = trans.drop(['isFraud', 'TransactionDT'], 1)
X

,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr1,addr2,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
TransactionID,,,,,,,,,,,,,,,,,,,,,
2987000,68.500,W,13926,NaN,150.0,discover,142.0,credit,315.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987001,29.000,W,2755,404.0,150.0,mastercard,102.0,credit,325.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987002,59.000,W,4663,490.0,150.0,visa,166.0,debit,330.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987003,50.000,W,18132,567.0,150.0,mastercard,117.0,debit,476.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987004,50.000,H,4497,514.0,150.0,mastercard,102.0,credit,420.0,87.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2987005,49.000,W,5937,555.0,150.0,visa,226.0,debit,272.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987006,159.000,W,12308,360.0,150.0,visa,166.0,debit,126.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987007,422.500,W,12695,490.0,150.0,visa,226.0,debit,325.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987008,15.000,H,2803,100.0,150.0,visa,226.0,debit,337.0,87.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2987009,117.000,W,17399,111.0,150.0,mastercard,224.0,debit,204.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987010,75.887,C,16496,352.0,117.0,mastercard,134.0,credit,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987011,16.495,C,4461,375.0,185.0,mastercard,224.0,debit,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987012,50.000,W,3786,418.0,150.0,visa,226.0,debit,204.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987013,40.000,W,12866,303.0,150.0,visa,226.0,debit,330.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987014,10.500,W,11839,490.0,150.0,visa,226.0,debit,226.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987015,57.950,W,7055,555.0,150.0,visa,226.0,debit,315.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987016,30.000,H,1790,555.0,150.0,visa,226.0,debit,170.0,87.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2987017,100.000,H,11492,111.0,150.0,mastercard,219.0,credit,204.0,87.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2987018,47.950,W,4663,490.0,150.0,visa,166.0,debit,184.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987019,186.000,W,7005,111.0,150.0,visa,226.0,debit,264.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987020,39.000,W,7875,314.0,150.0,mastercard,224.0,debit,299.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987021,159.950,W,11401,543.0,150.0,mastercard,117.0,debit,204.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987022,50.000,H,1724,583.0,150.0,visa,226.0,credit,299.0,87.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2987023,107.950,W,2392,360.0,150.0,mastercard,166.0,debit,126.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987024,73.950,W,10112,360.0,150.0,visa,166.0,debit,264.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987025,107.950,W,15385,111.0,150.0,mastercard,224.0,debit,441.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987026,184.000,W,17868,148.0,150.0,visa,226.0,debit,472.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987027,47.950,W,11307,321.0,150.0,visa,226.0,debit,337.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987028,20.000,W,8431,269.0,150.0,mastercard,224.0,debit,251.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987029,36.990,W,12932,361.0,150.0,visa,226.0,debit,204.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2987470,58.950,W,10960,567.0,150.0,mastercard,117.0,debit,191.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987471,30.950,W,18132,567.0,150.0,mastercard,117.0,debit,441.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987472,140.000,W,13481,199.0,150.0,mastercard,224.0,debit,325.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987473,58.950,W,17131,111.0,150.0,mastercard,224.0,debit,264.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987474,82.950,W,2845,543.0,150.0,mastercard,117.0,debit,315.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987475,67.950,W,15066,170.0,150.0,mastercard,102.0,credit,184.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987476,37.763,C,7585,553.0,150.0,visa,226.0,credit,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987477,100.000,W,3570,512.0,150.0,visa,226.0,debit,299.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987478,335.000,W,11199,481.0,150.0,mastercard,102.0,credit,325.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987479,57.950,W,12839,321.0,150.0,visa,226.0,debit,264.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987480,59.000,W,10486,514.0,150.0,mastercard,219.0,credit,204.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987481,109.000,W,16075,514.0,150.0,mastercard,102.0,credit,123.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987482,25.000,H,16873,343.0,150.0,visa,226.0,credit,315.0,87.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2987483,68.950,W,2803,100.0,150.0,visa,226.0,debit,299.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987484,31.950,W,11207,361.0,150.0,visa,226.0,debit,204.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987485,25.000,H,18092,583.0,150.0,visa,226.0,credit,204.0,87.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2987486,20.000,W,2392,360.0,150.0,mastercard,166.0,debit,272.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987487,59.000,W,12598,111.0,150.0,visa,166.0,debit,299.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987488,15.105,C,15885,545.0,185.0,visa,138.0,debit,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987489,8.700,C,3154,408.0,185.0,mastercard,224.0,debit,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987490,100.000,H,6019,583.0,150.0,visa,226.0,credit,264.0,87.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2987491,150.000,W,14035,555.0,150.0,visa,226.0,debit,327.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987492,350.230,W,5613,413.0,150.0,visa,166.0,debit,204.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987493,200.000,W,16132,111.0,150.0,visa,226.0,debit,299.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987494,303.950,W,14823,NaN,150.0,visa,166.0,debit,315.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987495,250.000,W,8394,490.0,150.0,visa,226.0,debit,325.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987496,107.950,W,17129,321.0,150.0,visa,226.0,debit,444.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987497,39.000,W,12686,215.0,150.0,visa,226.0,debit,498.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987498,100.000,W,7377,555.0,150.0,mastercard,117.0,debit,204.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987499,9.425,C,5812,408.0,185.0,mastercard,224.0,debit,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN